<style>

   .footer-component {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

</style>

<div class="footer-component">
   <div>Copyright &copy2016-2022 Atom Software Studios</div>
   <div>Fissile Framework &amp; tooling is released under the MIT License</div>
</div>