<style>

   .header-component {
      display: flex;
      align-items: center;
      justify-content: center;

      background: linear-gradient(180deg, rgba(240,140,30,1) 0%, rgba(255,255,255,1) 100%);
      background-repeat: no-repeat;
   }

   .header-component .logo {
      width: 3em;
      height: 3em;
      background-image: url(./res/img/logo.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
   }

   .header-component .caption {
      padding: 1em;
   }

</style>

<div class="header-component">
   <div class="logo"></div>
   <div class="caption">Fissile Framework Example Application</div>
</div>