<script>

   onConnect = (viewState, domBindings) => {
      this.test();
      console.log("onConnect", this);
   }

   onUpdate = (viewState, domBindings) => {
      this.test();
      console.log("onUpdate", this);
   }

   onDisconnect = () => {
      this.test();
      console.log("onDisconnect", this);
   }

</script>

<slot id="layout">

   <home.header target="header" id="1" />
   <home.footer target="footer" id="2" />

</slot>
