<style type="text/css">

   #header .dummy-component {
      background-color: aqua;
   }

   #sidebarLeft .dummy-component {
      background-color: burlywood;
   }

   #content .dummy-component {
      background-color: darkkhaki;
   }

   #sidebarRight .dummy-component {
      background-color: darkseagreen;
   }

   #footer .dummy-component {
      background-color: lightpink;
   }

</style>

{header_}
<slot id="header"></slot>

{sidebarLeft_}
<slot id="sidebarLeft"></slot>

{content_}
<slot id="content"></slot>

{sidebarRight_}
<slot id="sidebarRight"></slot>

{footer_}
<slot id="footer"></slot>