<script>

   onConnect = (viewState, domBindings) => {
      this.test();
      console.log("onConnect", this);
   }

   onUpdate = (viewState, domBindings) => {
      this.test();
      console.log("onUpdate", this);
   }

   onDisconnect = () => {
      this.test();
      console.log("onDisconnect", this);
   }

</script>

<style type="text/css">

   .dummy-component {
      background-color: red;
   }

</style>

<div class="dummy-component">

   Dummy! Test: {test} !!!
   <common.dummy-inner />

   <slot id="templateArray">
   </slot>

</div>
